@include media-md{
    .construction{

        &_sections{
        // grid-template-columns: repeat(1, 1fr);

        

        .section{
            display: flex;
            flex-direction: column;

            img{
                width: 100%;
            }

            .intro{
                padding-left: 25px;
                margin-bottom: 20px;
            }
        }

        }
    }

    .services{
        &_allServices{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}



@include media-sm{
    .construction{
         &_title{
            margin-top: 150px;
            margin-bottom: -80px;

            p{
                padding: 15px;
                line-height: 1.2;
                font-size: 17px;
            }
         }

        &_sections{
        grid-template-columns: repeat(1, 1fr);


        .section{
            display: flex;
            flex-direction: column;
            margin: 20px;
            img{
                width: 100%;
            }

            .intro{
                padding-left: 25px;
                margin-bottom: 20px;
            }
        }

        }
    }

    .services{
        &_allServices{
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
@include media-lg{
    .construction{
         &_title{
            margin-top: 10px;
            margin-bottom: -40px;

            p{
                padding: 15px;
                line-height: 1.2;
                font-size: 17px;
            }
         }

        &_sections{
        grid-template-columns: repeat(2, 1fr);
        padding-left: 70px;
        padding-right: 70px;


        .section{
            display: flex;
            flex-direction: row;
            img{
                width: 250px;
            }

            .intro{
                padding-left: 25px;
                margin-bottom: 20px;
            }
        }

        }
    }


    .services{
        &_allServices{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}