@include media-md{
    .construction{

        &_sections{
        // grid-template-columns: repeat(1, 1fr);

        

        .section{
            display: flex;
            flex-direction: column;

            img{
                width: 100%;
            }

            .intro{
                padding-left: 25px;
                margin-bottom: 20px;
            }
        }

        }
    }

    .services{
        &_allServices{
            grid-template-columns: repeat(2, 1fr);
            margin-right: 50px;
            margin-left: 50px;
        }
    }

    .sub{

         &_service{
            // grid-template-columns: repeat(2, 1fr);
            flex-direction: row;
         }
    }
}



@include media-sm{
    body{
    overflow-x: hidden;
    background-color: red;

    }
    .construction{
         &_title{
            margin-top: 70px;
            margin-bottom: -40px;

            p{
                padding: 15px;
                line-height: 1.2;
                font-size: 17px;
            }
         }

        &_sections{
        grid-template-columns: repeat(1, 1fr);


        .section{
            display: flex;
            flex-direction: column;
            margin: 20px;
            img{
                width: 100%;
            }

            .intro{
                padding-left: 25px;
                margin-bottom: 20px;
            }
        }

        }
    }

    .services{
        &_allServices{
            grid-template-columns: repeat(1, 1fr);
            margin-left: -59px;
            margin-right: -25px;
        }
    }

    .sub{
        overflow: hidden;
            padding: 20px;

         &_service{
            // display: flex;
            // grid-template-columns: repeat(1, 1fr);
            flex-direction: column;

             margin: -20px;
             margin-left: -50px;
             padding-left: -30px;

             img{
                // display: flex;
                // justify-content: center;
                // align-items: center;
            width: 400px;
            // height: 590px;
            border-radius: 7px;
            // object-fit: cover;
             }

             i{
                width: 48px;
                height: 48px;
                font-size: 22px;
             }

         }
    }
}
@include media-lg{
    .construction{
         &_title{
            margin-top: 10px;
            margin-bottom: -40px;

            p{
                padding: 15px;
                line-height: 1.2;
                font-size: 17px;
            }
         }

        &_sections{
        grid-template-columns: repeat(2, 1fr);
        padding-left: 70px;
        padding-right: 70px;


        .section{
            display: flex;
            flex-direction: row;

            
            img{
                width: 250px;
            }

            .intro{
                padding-left: 25px;
                margin-bottom: 20px;
            }
        }

        }
    }


    .services{
        &_allServices{
            margin-right: 50px;
            margin-left: 50px;
            grid-template-columns: repeat(3, 1fr);

        }
    }

    .sub{

        margin-top: -30px;

         &_service{
              margin: 80px;
              flex-direction: row;

            // grid-template-columns: repeat(2, 1fr);

            img{
            width: 400px;
            height: 720px;
            border-radius: 7px;
            // object-fit: contain;
        }
         }
    }
}